
<nav class="nb">
    <div class="nb-inner">
        <a href="/Layout/Index/" class="brand">
            <div class="brand-ico">⚽</div>
            <span class="brand-txt">Match<span>Mind</span></span>
        </a>
        <div class="nav-links d-none d-lg-flex">
            <a href="/Layout/Index/" class="nl">Ana Sayfa</a>
            <a href="/Layout/StandingList/" class="nl">Puan Durumu</a>
            <a href="/Layout/LastMatchList/" class="nl">Son Hafta Maçları</a>
        </div>
    </div>
    <div class="mob-menu" id="mobMenu">
        <div class="wrap">
            <a href="/Layout/Index/" class="nl d-block">Ana Sayfa</a>
            <a href="/Layout/StandingList/" class="nl d-block">Puan Durumu</a>
            <a href="/Layout/LastMatchList/" class="nl d-block">Son Hafta Maçları</a>
        </div>
    </div>
</nav>
